
#navbarNav{
    padding-left: 1050px;
}

.bg-image{
    background-image: url(/images/1.jpg);
    padding-bottom: 300px;
    padding-left: 100px;
    padding-top: 300px;
    background-size: cover;
    color: rgb(0, 0, 0);
}
.navbar
{
    background-color: rgb(5, 52, 61);
}
.nav-link{
    color: aliceblue;
}
.col-md-3{
    padding: 20px;
}

